/*html {
  background-color: #AAF0D1;
}

body {
  font-family: Sans-serif;
  padding: 20px;
  margin-top: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}*/